<h1 class="page-title page-title-with-icon">
Aloitteen kannattaminen epäonnistui
</h1>

<%= render "notification", message: ("Olet jo kannattanut tätä aloitetta")%>

<details>
  <summary><span class="summary">Ongelmia?</span></summary>

  <div class="panel-indent">
    <p>
     Mitä voin tehdä?
    </p>

    <ul class="list-bullet">
      <li>Jos et ole kannattanut aloitetta</li>
      <li>Jos</li>
    </ul>
  </div>
</details>
