<h1 class="page-title page-title-with-icon">
  <span class="icon icon-email"></span>
  LOCALIZE_One more step…
</h1>

<p>
  LOCALIZE_We’ve sent you an email. Please click on the link in the email to confirm your address.
</p>

<%= render "notification", message: "LOCALIZE_Your signature will not be counted until you click the link in the email" %>

<details>
  <summary><span class="summary">LOCALIZE_Not received a confirmation email?</span></summary>

  <div class="panel-indent">
    <p>
      LOCALIZE_If you haven’t received a confirmation email:
    </p>

    <ul class="list-bullet">
      <li>LOCALIZE_check your spam or junk mail folders</li>
      <li>LOCALIZE_allow up to 24 hours for the email to arrive</li>
    </ul>
  </div>
</details>
