<p class="form-hint">LOCALIZE_Example: Make wrongly describing a casserole with a pastry lid as a pie a criminal offence</p>
<details class="form-group-help">
  <summary><span class="summary">LOCALIZE_Show more examples</span></summary>
  <div class="panel-indent">
    <p>LOCALIZE_Good examples:</p>
    <ul class="list-bullet">
      <li>LOCALIZE_Introduce Black History to the primary curriculum</li>
      <li>LOCALIZE_Lower the voting age to 16</li>
    </ul>
    <p>LOCALIZE_Bad examples:</p>
    <ul class="list-bullet">
      <li>LOCALIZE_Russia Problem on US ruling</li>
      <li>LOCALIZE_Justice for David Thomas</li>
    </ul>
    <p>LOCALIZE_Good petitions say clearly what they want government or parliament to do.</p>
  </div>
</details>
