<h1><%= t "gathering_support.title"%></h1>

<p><%= t "gathering_support.signatures_required_html", 
creator: @petition.creator.name,
threshold: Site.minimum_number_of_sponsors,
href: (link_to (t "petitions.start.standards"), help_path(anchor: 'standards')) %></p>

<p><%= t "gathering_support.try_later"%></p>
