<h1><%= t "moderation.title"%></h1>

<p><%= t "moderation.supporters", threshold: Site.minimum_number_of_sponsors, creator: @petition.creator.name %></p>

<p><%= t "moderation.check_needed_html", href: (link_to (t "petitions.start.standards"), help_path(anchor: 'standards'))%></p>

<p><%= t "moderation.try_later"%></p>
