<h1 class="page-title page-title-with-icon">
  <span class="icon icon-email"></span>
  LOCALIZE_One more step…
</h1>

<p class="lede">LOCALIZE_We've emailed you a link to send to your potential supporters</p>

<h2>LOCALIZE_You need <%= Site.minimum_number_of_sponsors %> supporters</h2>
<p><%= Site.minimum_number_of_sponsors %> LOCALIZE_people need to click this link and confirm their support for your petition to go live</p>

<%= render 'notification', message: "LOCALIZE_Your petition will only go live when #{Site.minimum_number_of_sponsors} people confirm their support" %>
