<section class="partiolaisaloite-introduction">
    <div class="landing-page-picture">
        <img src="/landing.jpg" class="landing-banner" alt=""/>
    </div>
    <p>Tervetuloa partiolaisaloitteiden sivustolle! Digitaalinen partiolaisaloite on tarkoitettu kaikille jäsenmaksun maksaneille partiolaisille. Kyseessä on uusi tapa kehittää partiota ja vaikuttaa itselle tärkeisiin teemoihin partiossa.
    <br />
    Alustaa kehitetään jatkossa käyttökokemusten ja palautteen perusteella. Palautetta ja kehitysehdotuksia voi lähettää osoitteeseen <a href="partiolaisaloite@partio.fi">partiolaisaloite@partio.fi</a>
    </p>
    <h2>Mikä on partiolaisaloite?</h2>
    <p>
    Partiolaisaloitteen avulla kuka tahansa jäsenmaksun maksanut partiolainen voi tehdä aloitteita partion alueelliseksi, valtakunnalliseksi tai kansainväliseksi kehittämiseksi. Jäsenmaksun maksaneet partiolaiset voivat myös kannattaa muiden tekemiä aloitteita.
    <br />
    Aloitteet ovat voimassa kuusi kuukautta ja jos aloite saa sinä aikana 100 kannattajaa, se siirtyy Suomen Partiolaisten käsiteltäväksi. Aloitteita käsittelevä ryhmä miettii, miten aloitetta kannattaisi edistää ja ohjaa sen eteenpäin asiasta vastaavalle taholle, kuten aloitetta koskevan partiopiirin hallitukselle tai asiasta vastaavalle Suomen Partiolaisten valiokunnalle.
    </p>
    <h2>Miten partiolaisaloite tehdään?</h2>
    <p>
    Partiolaisaloitteet tehdään tämän sivuston kautta. Klikkaa sivun alaosasta ”Tee aloite” -painiketta, ja kirjaudu sisään omalla PartioID-tunnuksellasi.
    <br />
    Aloitetta tehdessä kannattaa miettiä sen vaikuttavuutta: millä tavoin aloitteesi toteutuessaan tekisi partiosta – ja maailmasta – paremman paikan?
    <br />
    Tarkemmat ohjeet partiolaisaloitteen vireille laittamiseksi löydät täältä: <a href="https://osallistu.partio.fi/help?locale=fi-FI">https://osallistu.partio.fi/help?locale=fi-FI</a>
    </p>
    <h2>Miten partiolaisaloitetta kannatetaan?</h2>
    <p>
    Kaikki jätetyt partiolaisaloitteet löytyvät tältä sivustolta. Klikkaa sivun alaosasta ”Näytä kaikki aloitteet” tai käytä hakukenttää.
    <br />
    Voit kannattaa partiolaisaloitetta joko aloitteen tekijältä saamasi linkin kautta, tai kirjautumalla sisään omalla PartioID-tunnuksellasi ja etsimällä oikean aloitteen sivustolta.
    <br />
    Tarkemmat ohjeet partiolaisaloitteen kannattamiseksi löydät täältä: <a href="https://osallistu.partio.fi/help?locale=fi-FI">https://osallistu.partio.fi/help?locale=fi-FI</a>
    </p>
</section>
