<% if @signature.already_unsubscribed? %>
  <h1>LOCALIZE_Already unsubscribed from this petition</h1>
  <p>LOCALIZE_You have already unsubscribed from email updates about this petition.</p>
<% elsif @signature.invalid_unsubscribe_token? %>
  <h1>LOCALIZE_Failed to unsubscribe</h1>
  <p>LOCALIZE_Your unsubscribe link is invalid.</p>
<% else %>
  <h1>LOCALIZE_Successfully unsubscribed from this petition</h1>
  <p>LOCALIZE_You have unsubscribed from email updates about this petition.</p>
<% end %>

<%= link_to "LOCALIZE_Return to home page", home_path %>
