<div class="text-page">


  <h1 class="page-title">Hur fungerar scoutinitiativet?</h1>


  <p>Enligt scouternas arbetsordning kan de scouter som har betalat medlemsavgiften skapa initiativ till att utveckla Scouterna regionalt, nationellt eller internationellt. Initiativen väcks i denna webbtjänst i enlighet med anvisningarna nedan. </p>

  <p>De som har betalat medlemsavgiften kan också stödja initiativ, antingen stödja ett visst initiativ genom inbjudan eller genom att bläddra bland initiativen i webbtjänsten. Man kan stödja ett initiativ bara en gång. </p>

  <p>Initiativen pågår i 6 månader. Om ett initiativ understöds av 100 personer under den perioden, tar centralorganisationen upp det till behandling. Gruppen som behandlar initiativ består av representanter för scoutrådet, FS:s styrelse och FS:s kansli. Gruppen överväger hur initiativet ska främjas och för initiativet vidare till den instans som ansvarar för frågan. </p>


  <h3>Så här skapar du ett initiativ</h3>

  <ol>
    <li>Logga först in med ditt ScoutID. Inloggningslänken hittar du både i balken högst upp och på förstasidan. </li>
    <li>Efter att du har loggat in hittar du knappen "Skapa ett initiativ" på förstasidan. Via den kan du skapa ett initiativ.  </li>
    <li>Först tillfrågas du: "Hur vill du utveckla Scouterna?" Beskriv här kortfattat din idé om att utveckla scouterna.   </li>
    <li>I detta skede kontrollerar systemet om liknande initiativ redan pågår. I så fall föreslår systemet att du stöder initiativet som redan pågår. </li>
    <li>På nästa sida kan du motivera din idé närmare. Du kan också lämna bakgrundsinformation om den. </li>
    <li>Förhandsgranska ditt initiativ. Nu kan du fortfarande ändra initiativet. När initiativet är klart klickar du på "Det ser bra ut".   </li>
    <li>Därefter måste du ännu bekräfta ditt initiativ via det e-postmeddelande du fått.  </li>
    <li>Nu kan du också bjuda in dina scoutkamrater för att stödja initiativet.  </li>
  </ol>

  <h3>Anvisningar för ett bra initiativ</h3>

  <ol>
    <li> 
      <p>Börja med att berätta tydligt och kortfattat hur du vill utveckla Scouterna. Utvecklingsidén kan vara regional (gäller distrikten), nationell (gäller hela organisationen) eller internationell. </p>
    </li> 
    <li> 
      <p> Motivera din utvecklingsidé - berätta varför ditt initiativ är viktigt och borde genomföras.  </p>
      <p> I motiveringen kan du till exempel berätta </p>
      <ul>
        <li>hur initiativet förbinder sig till scouternas mål</li>
        <li>hur initiativet förbinder sig till scouternas aktuella strategi</li>
        <li>hur initiativet stöder kårerna</li>
        <li>hur initiativet gör distriktens eller centralorganisationens beslutsfattande mer öppet eller lättare att närma sig</li>
        <li>hur initiativet stöder scoutrörelsens tillväxt</li>
        <li>hur initiativet stöder välmåendet hos de frivilliga i scouterna</li>
      </ul>
      <p>Tänk på hur effektivt ditt initiativ är: på vilket sätt skulle ditt initiativ om det genomförs göra Scouterna - och världen - till en bättre plats?</p>
    </li>
    <li>
      <p>Fundera också på om ditt initiativ verkligen gäller en fråga som Scouterna kan påverka. </p>
    </li>

  </ol>

  <p>Vi måste ibland förkasta initiativ. I allmänhet beror det på att</p>

  <ul>
    <li>Ett liknande initiativ redan pågår. I sådana fall hänvisar vi dig till att stödja det pågående initiativet.  </li>
    <li>Ditt initiativ gäller en fråga som Scouterna inte är ansvariga för.</li>
  </ul>

  <p>Om möjligt föreslår vi andra sätt för dig att främja frågan. </p>

  <p>Vi publicerar också förkastade initiativ.  </p>

  <h3>Så här stöder du ett initiativ</h3>

  <ol>
    <li>När du får en inbjudan att stödja ett initiativ eller hittar ett intressant initiativ i tjänsten, logga in med ditt ScoutID för att stödja det. Du hittar inloggningslänken på initiativets sida och i balken högst upp. 
    </li>
    <li>Om du vill få e-postmeddelanden om hur initiativet framskrider, 
    kryssa för rutan "Skicka mig e-postmeddelanden om initiativet". Fortsätt vidare. På nästa sida blir du ombedd att bekräfta din e-postadress. Ändra inte adressen, systemet skickar oberoende e-post till din adress enligt ditt ScoutID (detta mellansteg kommer att försvinna i framtiden). 
    </li>
    <li>Till sist måste du ännu bekräfta ditt stöd genom det e-postmeddelande du fått.
    </li>
    <li> Du kan stödja ett initiativ bara en gång. </li>
  </ol>

</div>
