<div class="text-page">


<h1 class="page-title">How does the scout petition work?</h1>


<p>All Guides and Scouts who have paid their membership fee can create petitions to develop scouting regionally, nationally, 
or internationally. The petitions can be made on this website following the instructions below. </p>

<p>All Guides and Scouts who have paid their membership fee can also sign petitions - and they can only sign a petition once. </p>

<p>All petitions run for 6 months. Petitions which reach 100 signatures will be handled by a group which consists of one member 
from the National Board of the Guides and Scouts of Finland, one member from the Guide and Scout Council,
 and one employee from the central organisation.</p>


<h3>How to create a petition</h3>

<ol>
  <li>Login using ScoutID (PartioID). The login link can be found in the site header and on the frontpage. </li>
  <li>After login you can find a button "Create petition" on the frontpage. Click the button and you can create your petition. </li>
  <li>First we will ask you "What should we do to make scouting better?". Here you should write a short description of your idea.  </li>
  <li>After this the system will check if there is a similar petition already. In these cases the system recommends you to sign that petition. </li>
  <li>On the next page you can give background information about your idea.  </li>
  <li>Check your petition one more time. If you now think you are ready to publish it, click "This looks good".  </li>
  <li>You have to confirm your own signature by clicking a link that is sent to you via email.   </li>
  <li>Now you can invite your Scout friends to sign your petition.  </li>
</ol>


<h3>Petition Standards</h3>

<ol>
<li> <p>First tell clearly and shortly what we should do to make scouting better. Your idea can be regional, national, or international.</p></li> 
<li> <p> Then give us some background information to justify your idea - tell us why your idea is important. </p>
<p> You can for example explain </p>
<ul>
<li>how your petition commits itself to the purpose of Scouting</li>
<li>how your petition commits itself to the current strategy of the Guides and Scouts of Finland</li>
<li>how your petition supports local groups</li>
<li>how your petition would make the decision-making in the districts or the national organisation more open and accessible</li>
<li>how your petition supports the growth of the Guides and Scouts of Finland</li>
<li>how your petition supports volunteers' well-being</li>
</ul>

<p>Shortly: how does your petition make Scouting - and the world - a better place?</p></li>

<li><p>Try to make sure that your idea is about something the Scouts are responsible for.</p></li>

</ol>


<p>Sometimes we have to reject a petition. Usually the reason is one of these:</p>

<ul>
<li>It calls for the same action as a petition that’s already open. In these cases we recommend you to sign that petition. </li>
<li>It’s about something the Scouts are not responsible for.</li>
</ul>

<p>If possible, we will suggest you other ways to promote your idea.</p>

<p>We publish the text of the petitions that we reject.</p>



<h3>How to sign a petition</h3>

<ol>
<li>When you get an invite to sign a petition or you find an interesting petition at the website, 
login using ScoutID (PartioID), then you can sign the petition. The login link can be found in the site header and on the petition page.</li>
<li>If you want emails when there's an update about the petition, check the box.
On the next page you will be asked to confirm your email address. </li>
<li>Then you will be asked to confirm your signature by clicking a link that is sent to you via email. </li>
<li>You can sign a petition only once. </li>
</ol>

</div>
