<div class="text-page">


<h1 class="page-title">Kuinka partiolaisaloite toimii?</h1>


<p>Partion menettelytapasäännön mukaan jäsenmaksun maksaneet partiolaiset voivat tehdä aloitteita Partion alueelliseksi, 
valtakunnalliseksi tai kansainväliseksi kehittämiseksi. 
Aloitteet laitetaan vireille tässä verkkopalvelussa alla olevien ohjeiden mukaisesti. </p>

<p>Jäsenmaksun maksaneet partiolaiset voivat myös kannattaa aloitteita, 
joko kutsuttuna kannattamaan tiettyä aloitetta tai selaamalla aloitteita verkkopalvelussa. Yhtä aloitetta voi kannattaa vain kerran. </p>

<p>Aloitteet ovat käynnissä 6 kuukautta. Jos aloite saa sinä aikana 100 kannattajaa, keskusjärjestö ottaa sen käsiteltäväksi. 
Aloitteita käsittelevään ryhmään kuuluu edustajia partioneuvostosta, SP:n hallituksesta ja SP:n toimistolta. 
Ryhmä miettii, miten aloitetta kannattaisi edistää ja ohjaa sen eteenpäin asiasta vastaavalle taholle. </p>


<h3>Näin teet aloitteen</h3>

<ol>
  <li>Kirjaudu ensin sisään PartioID:llä. Kirjautumislinkin löydät sekä yläpalkista että etusivulta.  </li>
  <li>Kirjautumisen jälkeen etusivulta löytyy painike "Tee aloite". Sen kautta pääset tekemään aloitetta.  </li>
  <li>Ensin sinulta kysytään: "Kuinka haluaisit kehittää Partiota?". Kuvaile tähän lyhyesti ideasi partion kehittämiseksi.   </li>
  <li>Tässä välissä järjestelmä tarkistaa, onko samankaltaisia aloitteita jo käynnissä. Jos on, järjestelmä ehdottaa, että kannattaisit jo olemassa olevaa aloitetta. </li>
  <li>Seuraavalla sivulla voit perustella ideaasi tarkemmin. Voit myös antaa siihen liittyviä taustatietoja. </li>
  <li>Esikatsele aloitteesi. Tässä vaiheessa voit vielä muokata sitä. Kun aloite on valmis, klikkaa "Tämä näyttää hyvältä".   </li>
  <li>Tämän jälkeen sinun pitää vielä vahvistaa aloitteesi saamasi sähköpostiviestin kautta.  </li>
  <li>Nyt voit kutsua myös partiotoverisi kannattamaan aloitetta.  </li>
</ol>


<h3>Ohjeet hyvän aloitteen tekemiseen</h3>

<ol>
<li> <p>Kerro ensin selkeästi ja lyhyesti, miten haluaisit kehittää Partiota. Kehitysidea voi olla alueellinen (piirejä koskeva), kansallinen (koko järjestöä koskeva) tai kansainvälinen. </p></li> 
<li> <p> Perustele kehitysideasi - kerro, miksi aloitteesi on tärkeä.  </p>
<p> Perusteluissa voit kertoa esimerkiksi </p>
<ul>
<li>miten aloite sitoutuu partion päämäärään</li>
<li>miten aloite sitoutuu partion voimassa olevaan strategiaan</li>
<li>miten aloite tukee lippukuntia</li>
<li>miten aloite tekee piirien tai keskusjärjestön päätöksenteosta avoimempaa tai helposti lähestyttävämpää</li>
<li>miten aloite tukee partion kasvua</li>
<li>miten aloite tukee partion vapaaehtoisten jaksamista</li>
</ul>

<p>Lyhyesti siis: millä tavoin aloite tekee Partiosta ja maailmasta paremman paikan?</p></li>

<li><p>Mieti myös, koskeeko aloitteesi varmasti asiaa, johon Partio voi vaikuttaa. </p></li>

</ol>

<p>Joudumme joskus hylkäämään aloitteita. Yleensä se johtuu siitä, että</p>

<ul>
<li>Samankaltainen aloite on jo käynnissä. Tällaisissa tapauksissa ohjaamme sinut kannattamaan käynnissä olevaa aloitetta.  </li>
<li>Aloitteesi koskee asiaa, josta Partio ei ole vastuussa.</li>
</ul>

<p>Jos mahdollista, ehdotamme muita tapoja, joiden avulla voit edistää asiaasi. </p>

<p>Julkaisemme myös hylätyt aloitteet.  </p>

<h3>Näin kannatat aloitetta</h3>

<ol>
<li>Kun saat kutsun kannattamaan aloitetta tai löydät palvelusta kiinnostavan aloitteen, kirjaudu sisään PartioID:llä, 
niin pääset kannattamaan sitä. Kirjautumislinkin löydät aloitteen sivulta ja yläpalkista. 
</li>
<li>Jos haluat saada sähköpostiviestejä aloitteen edistymisestä, 
laita rasti ruutuun "Lähetä minulle sähköpostitse ilmoituksia aloitteesta". Jatka eteenpäin. 
Seuraavalla sivulla sinua pyydetään vahvistamaan sähköpostiosoitteesi. 
</li>
<li>Tämän jälkeen sinun pitää vielä vahvistaa kannatuksesi saamasi sähköpostiviestin kautta.
 </li>
<li> Voit kannattaa yhtä aloitetta vain kerran. </li>
</ol>

</div>
