<div class="text-page">

  <h1>SEKRETESS OCH KAKOR</h1>

  <h3>DATASKYDDSMEDDELANDE: HUR VI ANVÄNDER DINA UPPGIFTER</h3>

  <p>Senast uppdaterat 13.2.2020 </p>

  <p>Denna webbplats upprätthålls av Suomen Partiolaiset - Finlands Scouter ry. </p>

  <p>På denna webbplats kan du skapa och stödja initiativ för att utveckla Scouterna. 
  För att möjliggöra detta måste vi samla in, behandla och registrera personuppgifter om användarna på webbplatsen.  </p>

  <p>Den personuppgiftsansvarige bestämmer hur och varför personuppgifter behandlas. 
  Suomen Partiolaiset – Finlands Scouter ry (senare Finlands Scouter) är personuppgiftsansvarig för denna webbplats.  </p>

  <a href="https://www.partio.fi/wp-content/uploads/2020/02/Partion-digitaalisten-palvelujen-k%C3%A4ytt%C3%A4j%C3%A4t-tietosuojaseloste-2020.pdf">
  Läs dataskyddsbeskrivningen för Scouternas digitala lösningar</a>
  
  <h3>VILKA UPPGIFTER SAMLAR VI IN</h3>
  <p>Vi samlar in följande uppgifter från de personer som skapar och stöder initiativ:

    <ul>
      <li>namn </li>
      <li>e-postadress </li>
      <li>medlemsnummer </li>
      <li>IP-adressen som du använder när du skapar eller stöder initiativ </li>
    </ul> 
  </p>


  <h3>VARFÖR BEHÖVER VI DESSA UPPGIFTER</h3>
  <p>Vi använder uppgifterna för följande ändamål:
    <ul>
      <li>vi säkerställer att du har rätt att skapa och stödja initiativ </li>
      <li>vi säkerställer att varje användare kan stödja ett initiativ endast en gång </li>
      <li>vi kontaktar dig gällande initiativ du skapat </li>
      <li>Om du ger tillstånd skickar vi uppdateringar gällande initiativ du stöder  </li>
    </ul> 
  </p>


  <h3>VAD GÖR VI MED DINA UPPGIFTER</h3>
  <p>Om du skapar ett initiativ och vi godkänner det, publiceras ditt namn i samband med initiativet. Vi publicerar ingen annan personlig information.  </p>

  <p>Om du stöder ett initiativ publicerar vi inte personlig information om dig.  </p>


  <h3>NÄR SKICKAR VI E-POST TILL DIG</h3>

  <p>Om ett initiativ du skapat eller understött får svar från centralorganisationen, skickar vi svaret till dig per e-post.  </p>

  <p>Om du har skapat ett initiativ eller understött ett initiativ, kan vi kontakta dig gällande initiativet.  </p>

  <p>Du kan sluta ta emot meddelanden genom att klicka på länken i e-postmeddelandet. </p>


  <h3>HUR LÄNGE LAGRAR VI DINA UPPGIFTER</h3>
  <p>Vi lagrar dina personuppgifter från den dag då du skapar ett initiativ eller stöder ett initiativ i 6 månader 
  efter den dag då initiativet avslutas - sammanlagt högst 12 månader. 
  </p>

  <h3>VAR BEHANDLAS OCH LAGRAS DINA UPPGIFTER</h3>
  <p>Alla personuppgifter som rör denna webbplats behandlas och lagras inom Europeiska ekonomiska samarbetsområdet (EES) och överförs inte utanför det. 
  Detta innebär att de behandlas i enlighet med EU:s allmänna dataskyddsförordning. 
  </p>


  <h3>HUR SKYDDAR VI DINA UPPGIFTER OCH HÅLLER DEM SÄKRA</h3>
  <p>Vi behandlar personuppgifter på ett lagligt och tillförlitligt sätt i enlighet med god datahanteringspraxis och dataskyddsprinciper. 
  Vi strävar efter att förhindra obehörig behandling av personuppgifter administrativt och tekniskt. 
  </p>

  <h3>DINA RÄTTIGHETER</h3>

  <p>Du har rätt att

    <ul>
      <li>begära tillträde till personuppgifter om dig själv </li>
      <li>begära rättelse eller radering eller begränsning av behandlingen av dessa uppgifter </li>
      <li>motsätta dig behandling samt rätt att överföra uppgifter från ett system till ett annat </li>
    </ul>
  </p>

  <h3>ÄNDRINGAR I DETTA MEDDELANDE</h3>
  <p>Vi kan ändra detta dataskyddsmeddelande. I så fall ändras också 
  "Senast uppdaterat"-datumet i sidans övre kant. Ändringar i detta dataskyddsmeddelande påverkar dig och dina uppgifter omedelbart. 
  Om ändringarna påverkar hur dina personuppgifter behandlas, försöker vi säkerställa att du får information om saken.  </p>


  <h3>FRÅGOR OCH KLAGOMÅL</h3>

  <p>Du kan kontakta oss om du har frågor om detta dokument eller om du misstänker, 
  att dina personuppgifter har använts på ett felaktigt eller oförsiktigt sätt.  </p>


  <a href="https://www.partio.fi/wp-content/uploads/2020/02/Partion-digitaalisten-palvelujen-k%C3%A4ytt%C3%A4j%C3%A4t-tietosuojaseloste-2020.pdf">
  Kontaktuppgifterna till kontaktpersonerna för de personuppgiftsansvariga finns i 
  dataskyddsbeskrivningen för Scouternas digitala lösningar </a>

  <h3>KAKOR</h3>
  <p>Denna webbplats laddar ner små filer (kakor, cookies) till din dator för att samla in information om hur du använder webbplatsen.  </p>

  <p>Kakor används för att
    <ul>
      <li> mäta hur du använder webbplatsen för initiativ, så att vi kan utveckla den efter dina behov </li>
      <li> spara information om meddelanden du sett så att vi inte visar dem upprepade gånger </li>
      <li> förhindra bedrägligt stöd till initiativ </li>
    </ul> 
  </p>

  <p>Kakor används inte för personlig identifiering av användare. De används endast för att garantera att webbplatsen fungerar säkert.  </p>

  <h3>GOOGLE ANALYTICS-KAKOR</h3>

  <p>Vi använder Google Analytics för att samla in information om hur du använder denna webbplats. 
  Denna information hjälper oss att utveckla tjänsten och förhindra missbruk. </p> 

  <p>Google Analytics-kakorna samlar in och lagrar följande uppgifter:

    <ul>
      <li>identifierade användare </li>
      <li> webbplatser som hänvisar till denna webbplats </li>
      <li>antal besökare och sessioner  </li>
    </ul> 
  </p>

  <p>Denna kaka föråldras efter två år eller när du själv tar bort den.  </p>

  <p>Google har inte tillstånd att använda eller dela våra analysdata, men du kan låta bli att godkänna Google Analytics-kakor.  </p>

  <h3>SESSIONSKAKOR (SESSION COOKIES)</h3>
  <p>Vi sparar en sessionskaka (session cookie) på din dator för att hjälpa till med att 
  se till att dina uppgifter är säkra när du använder webbplatsen. Den här kakan föråldras när du stänger webbläsaren. </p>

</div>
