<div class="text-page">

<h1>YKSITYISYYS JA EVÄSTEET</h1>

<h3>TIETOSUOJAILMOITUS: KUINKA KÄYTÄMME TIETOJASI</h3>

<p>Viimeksi päivitetty 13.2.2020 </p>

<p>Tätä sivustoa ylläpitää Suomen Partiolaiset - Finlands Scouter ry. </p>

<p>Tällä sivustolla voit tehdä ja kannattaa aloitteita Partion kehittämiseksi. 
Tämän mahdollistamiseksi joudumme keräämään, käsittelemään ja tallettamaan sivuston käyttäjien henkilötietoja.  </p>

<p>Rekisterinpitäjä määrittää, miten ja miksi henkilötietoja käsitellään. 
Tämän sivuston rekisterinpitäjä on Suomen Partiolaiset – Finlands Scouter ry (jäljempänä Suomen Partiolaiset).  </p>

<a href="https://www.partio.fi/wp-content/uploads/2020/02/Partion-digitaalisten-palvelujen-k%C3%A4ytt%C3%A4j%C3%A4t-tietosuojaseloste-2020.pdf">
Lue Partion digitaalisten ratkaisujen tietosuojaseloste</a>
 
<h3>MITÄ TIETOJA KERÄÄMME</h3>
<p>Keräämme aloitteiden tekijöiltä ja kannattajilta seuraavia tietoja:

<ul>
  <li>nimi </li>
  <li>sähköpostiosoite </li>
  <li>jäsennumero </li>
  <li>IP-osoite, jota käytät kun teet tai kannatat aloitetta </li>
</ul> </p>


<h3>MIKSI TARVITSEMME NÄITÄ TIETOJA</h3>
<p>Käytämme tietoja seuraaviin tarkoituksiin:
<ul>
  <li>varmistamme, että olet oikeutettu tekemään ja kannattamaan aloitteita </li>
  <li>varmistamme, että kukin käyttäjä voi kannattaa yhtä aloitetta vain kerran </li>
  <li>otamme sinuun yhteyttä tekemääsi aloitteeseen liittyen </li>
  <li>Jos annat luvan, lähetämme päivityksiä kannattamaasi aloitteeseen liittyen  </li>
</ul> </p>


<h3>MITÄ TEEMME TIEDOILLASI</h3>
<p>Jos teet aloitteen ja me hyväksymme sen, nimesi julkaistaan aloitteen yhteydessä. Emme julkaise muita henkilökohtaisia tietoja.  </p>

<p>Jos kannatat aloitetta, emme julkaise henkilökohtaisia tietoja sinusta.  </p>


<h3>MILLOIN LÄHETÄMME SINULLE SÄHKÖPOSTIA</h3>

<p>Jos tekemäsi tai kannattamasi aloite saa vastauksen keskusjärjestöltä, lähetämme vastauksen sinulle sähköpostitse.  </p>

<p>Jos olet tehnyt aloitteen tai kannattanut aloitetta, saatamme ottaa yhteyttä aloitteeseen liittyen.  </p>

<p> You can stop these emails by clicking the “unsubscribe” link in the email. </p>


<h3>KUINKA KAUAN SÄILYTÄMME TIETOJASI</h3>
<p>Säilytämme henkilökohtaiset tietosi siitä päivästä lähtien kun teet aloitteen tai kannatat aloitetta 6 kuukauden ajan 
aloitteen päättymispäivän jälkeen - maksimissaan yhteensä 12 kuukautta. 
 </p>

<h3>MISSÄ TIETOJASI KÄSITELLÄÄN JA SÄILYTETÄÄN</h3>
<p>Kaikkia tähän sivustoon liittyviä henkilötietoja käsitellään ja säilytetään Euroopan talousalueella (EEA), ja niitä ei siirretä sen ulkopuolelle. 
Tämä tarkoittaa, että niitä käsitellään EU:n yleisen tietosuoja-asetuksen mukaisesti. 
 </p>


<h3>KUINKA SUOJAAMME TIETOJASI JA PIDÄMME NE TURVASSA</h3>
<p>Käsittelemme henkilötietoja laillisesti ja luotettavasti hyvän tiedonhallintatavan ja tietosuojaperiaatteiden mukaisesti. 
Pyrimme estämään henkilötietojen oikeudettoman käsittelyn hallinnollisesti ja teknisesti. 
 </p>

<h3>SINUN OIKEUTESI</h3>

<p>Sinulla on oikeus

<ul>
  <li>pyytää pääsy itseäsi koskeviin henkilötietoihin </li>
  <li>pyytää kyseisten tietojen oikaisemista tai poistamista tai käsittelyn rajoittamista </li>
  <li>vastustaa käsittelyä sekä oikeutta siirtää tiedot järjestelmästä toiseen </li>
</ul>
 </p>

<h3>MUUTOKSET TÄHÄN ILMOITUKSEEN</h3>
<p>Saatamme muuttaa tätä tietosuojailmoitusta. Siinä tapauksessa sivun ylälaidassa oleva 
"Viimeksi päivitetty" -päivämäärä muuttuu myös. Muutokset tähän tietosuojailmoitukseen vaikuttavat sinuun ja tietoihisi välittömästi. 
Jos muutokset vaikuttavat siihen, miten henkilötietojasi käsitellään, pyrimme varmistamaan, että saat tiedon asiasta.  </p>


<h3>KYSYMYKSET JA VALITUKSET</h3>

<p>Voit ottaa meihin yhteyttä, jos sinulla on kysymyksiä liittyen tähän dokumenttiin tai jos epäilet, 
että henkilökohtaisia tietojasi on käytetty väärin tai varomattomasti.  </p>


<a href="https://www.partio.fi/wp-content/uploads/2020/02/Partion-digitaalisten-palvelujen-k%C3%A4ytt%C3%A4j%C3%A4t-tietosuojaseloste-2020.pdf">
Rekisterinpitäjien yhteyshenkilöiden yhteystiedot löytyvät Partion digitaalisten ratkaisujen 
tietosuojaselosteesta </a>

<h3>EVÄSTEET</h3>
<p>Tämä sivusto lataa koneellesi pieniä tiedostoja (evästeitä, cookies) kerätäkseen tietoa siitä, kuinka käytät sivustoa.  </p>

<p>Evästeitä käytetään
<ul>
<li> mittaamaan kuinka käytät aloitesivustoa, jotta voimme kehittää sitä tarpeittesi mukaan </li>
<li> tallettamaan tietoa näkemistäsi ilmoituksista, jotta emme näytä niitä sinulle toistuvasti </li>
<li> estämään aloitteiden vilpillinen kannattaminen </li>
</ul> </p>

<p>Evästeitä ei käytetä käyttäjien henkilökohtaiseen tunnistamiseen. Niitä käytetään vain sivuston turvallisen toiminnan takaamiseksi.  </p>

<h3>GOOGLE ANALYTICS -EVÄSTEET</h3>

<p>Käytämme Google Analyticsia keräämään tietoa siitä, kuinka käytät tätä sivustoa. 
Tämä tieto auttaa meitä kehittämään palvelua ja estämään väärinkäytöksiä. </p> 

<p>Google analytics -eväste kerää ja tallettaa seuraavanlaista tietoa:

<ul>
<li>yksilöidyt käyttäjät </li>
<li> tälle sivustolle viittaavat sivustot </li>
<li>vierailijoiden ja istuntojen määrät  </li>
</ul> </p>

<p>Tämä eväste vanhenee kahden vuoden kuluttua tai kun itse poistat sen.  </p>

<p>Googlella ei ole lupaa käyttää tai jakaa meidän analytiikkatietojamme, mutta voit jättää hyväksymättä Google Analytics -evästeet.  </p>

<h3>ISTUNTOKOHTAISET EVÄSTEET (SESSION COOKIES)</h3>
<p>Tallennamme tietokoneellesi istuntokohtaisen evästeen (session cookie) auttaaksemme 
pitämään tietosi turvassa kun käytät sivustoa. Tämä eväste vanhenee, kun suljet selaimen. </p>

</div>
