<details role="group">
  <summary role="button" aria-controls="about-json-content" aria-expanded="true">
    <span class="summary"><%= t "petitions.about.summary" %></span>
  </summary>
  <div id="about-json-content" aria-hidden="false">
    <p>
      <%= t "petitions.about.content" %>
    </p>
  </div>
</details>
