<div id="language-selector">
  <div class="dropdown">
    <button class="dropbtn"><i class="fa fa-globe"></i></button>
    <div class="dropdown-content">
      <% Rails.application.config.i18n.available_locales.each do |locale| %>
        <a class="language-selector-link" href="#" data-locale=<%= locale %>><%= t("locales.#{locale}") %></a>
      <% end %>
    </div>
  </div>
</div>
<script>
  function updateUrlParameter(uri, key, value) {
    var i = uri.indexOf('#');
    var hash = i === -1 ? ''  : uri.substr(i);
         uri = i === -1 ? uri : uri.substr(0, i);

    var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
    var separator = uri.indexOf('?') !== -1 ? "&" : "?";
    if (uri.match(re)) {
        uri = uri.replace(re, '$1' + key + "=" + value + '$2');
    } else {
        uri = uri + separator + key + "=" + value;
    }
    return uri + hash;
  }

  document.addEventListener('click', function(event) {
    if (!event.target.matches('.language-selector-link')) return;

    event.preventDefault();

    var selectedLocale = event.target.getAttribute('data-locale');

    var newUrl = updateUrlParameter(window.location.href, 'locale', selectedLocale);
    window.location.replace(newUrl);
  })
</script>