
$house-of-commons-green: #080;

$scouts-dark-blue: #253764;
$scouts-light-blue: #28a9e1;

$petitions-brand: $scouts-dark-blue;
$petitions-header-colour: $scouts-dark-blue;
$petitions-panel-colour: $scouts-light-blue;
$petitions-button-colour: $scouts-light-blue;
$petitions-footer-colour: $scouts-dark-blue;
