#global-header {
  background-color: $petitions-header-colour;
  // padding-top: $gutter-half;
  margin-top: -1px;
  margin-bottom: -1px;
  // padding-bottom: $gutter-half;
  height: 38px;
  padding-top: 10px;
    h1 {
    margin: 0;
  }
  .header-title {
    @media(max-width: 470px) {
      display: none;
    }
  }
  .proposition {
    flex: 1;
    color: $white;
    font-size: 24px;
    font-weight: 700;
    display: block;
    position: relative;
    overflow: visible;
    line-height: 34px;
    @media(min-width: 800px) {
      padding-left: $text-indent;
    }
    img {
      margin-right: 0.5em;
    }
  }
  a {
    text-decoration: none;
  }
  a:focus {
    background-color: transparent;
    text-decoration: underline;
  }
  .graphic {
    position: absolute;
    left: 0;
    top: 0;
    width: 28px;
    height: 34px;
  }

  .strapline {
    color: $white;
    margin: $gutter-one-third -5px 5px $text-indent;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    .proposition {
      display: flex;
    }
    .current-user-container {
      line-height: 34px;
      .hide-tablet {
        @media(max-width: 800px) {
          display: none;
        }
      }
      > a {
        color: white;
        > i {
          color: white;
        }
      }
    }
    #logged-in-redirect-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      z-index: 10;
      padding-top: 10%;
      background-color: rgba(255,255,255,0.9);
    }
  }
}

#global-cookie-message {
  width: 100%;
  background-color: $light-blue-25;
  padding-top: 10px;
  padding-bottom: 10px;
  p {
    @extend %site-width-container;
    @include core-16;
    margin-top: 0;
    margin-bottom: 0;
    a {
      white-space: nowrap;
    }
  }
}
